<h1>Tralue - Listing trips</h1>

<div class="table-responsive">
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Cost in USD</th>
        <th>AA cost in points</th>
        <th>AA cost in USD</th>
        <th>BA pts</th>
        <th>BA USD</th>
        <th>UA pts</th>
        <th>UA USD</th>
        <th>DL pts</th>
        <th>DL USD</th>
        <th>AS pts</th>
        <th>AS USD</th>
        <th>NK pts</th>
        <th>NK USD</th>
        <th>SQ pts</th>
        <th>SQ USD</th>
    </tr>
    
    <% @trips.each do |t| %>
        <tr>
            <td><%= t.name %></td>
            <td>$<%= t.costinusd %></td>
            <td><%= t.aacostpts %></td>
            <td>$<%= t.aacostusd %></td>
            <td><%= t.bacostpts %></td>
            <td>$<%= t.bacostusd %></td>
            <td><%= t.uacostpts %></td>
            <td>$<%= t.uacostusd %></td>
            <td><%= t.dlcostpts %></td>
            <td>$<%= t.dlcostusd %></td>
            <td><%= t.ascostpts %></td>
            <td>$<%= t.ascostusd %></td>
            <td><%= t.nkcostpts %></td>
            <td>$<%= t.nkcostusd %></td>
            <td><%= t.sqcostpts %></td>
            <td>$<%= t.sqcostusd %></td>

            <td><%= link_to 'Show', trip_path(t), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Edit', edit_trip_path(t), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', trip_path(t), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'View recommendations', result_path(t), class: 'btn btn-success' %></td>
        </tr>
    <% end %>
</table>
</div>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
<%= link_to 'New trip', new_trip_path, class: 'btn btn-primary' %>
