<h1>Tralue</h1>

<p>Hello, visitor! Welcome to Tralue!</p>

<p>
<%= link_to 'Credit cards', controller: 'creditcards', class: 'btn btn-success' %>
</p>

<p>
<%= link_to new_creditcard_path, class: 'btn btn-link' do %>
<i class="glyphicon glyphicon-plus"></i>New credit card
<% end %>
</p>

<p>
<%= link_to 'Transfer rates', controller: 'rates', class:'btn btn-link' %>
Transfer rates
</p>


<%= link_to 'New transfer rate', new_rate_path, class: 'btn btn-link' %>


<p>
<%= link_to 'Trips', controller: 'trips', class: 'btn btn-link' %>
</p>

<p>
<%= link_to 'New trip', new_trip_path, class: 'btn btn-link' %>
</p>
