<h1>Tralue</h1>

<p>Hello, visitor! Welcome to Tralue!</p>

<p><%= link_to 'Credit cards', controller: 'creditcards' %></p>
<%= link_to 'New credit card', new_creditcard_path %>

<p><%= link_to 'Transfer rates', controller: 'rates' %></p>
<%= link_to 'New transfer rate', new_rate_path %>

<p><%= link_to 'Trips', controller: 'trips' %></p>
<%= link_to 'New trip', new_trip_path %>