<h1>Listing credit cards</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Issuer</th>
    </tr>
    
    <% @creditcards.each do |cc| %>
        <tr>
            <td><%= cc.name %></td>
            <td><%= cc.issuer %></td>
            <td><%= link_to 'Show', creditcard_path(cc) %></td>
            <td><%= link_to 'Edit', edit_creditcard_path(cc) %></td>
            <td><%= link_to 'Destroy', creditcard_path(cc), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>